<a href="https://colab.research.google.com/github/7-Aishwarya/Data-Science-Python-Basics/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
l = [x for x in range(5)]
s = pd.Series(l)
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
s =pd.Series(l,index=['p','y','t','h','0'])
s

p    0
y    1
t    2
h    3
0    4
dtype: int64

In [ ]:
s['p']

0

In [ ]:
s =pd.Series(l,index=['p','p','t','h','0'])
s['p']

p    0
p    1
dtype: int64

In [ ]:
dict = {'p':1,'y':2,'t':3,'h':4,'o':5,'n':6}
s= pd.Series(dict)
s

p    1
y    2
t    3
h    4
o    5
n    6
dtype: int64

In [ ]:
s= pd.Series(dict,index=['p','y','t'])
s

p    1
y    2
t    3
dtype: int64

In [ ]:
s= pd.Series(dict,index=['p','y','t','a'])
s

p    1.0
y    2.0
t    3.0
a    NaN
dtype: float64

In [ ]:
import pandas as pd
l = [x for x in range(10)]
s = pd.Series(l)
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
s.iloc[0]

0

In [ ]:
s.iloc[9]

9

In [ ]:
s.iat[5]

5

In [ ]:
s[0]

0

In [ ]:
s[0:5]

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
s[5:9]

5    5
6    6
7    7
8    8
dtype: int64

In [ ]:
s[0:-1]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [ ]:
s.where(s%2==0)

0    0.0
1    NaN
2    2.0
3    NaN
4    4.0
5    NaN
6    6.0
7    NaN
8    8.0
9    NaN
dtype: float64

In [ ]:
s.where(s%2==0,s**2)

0     0
1     1
2     2
3     9
4     4
5    25
6     6
7    49
8     8
9    81
dtype: int64

In [ ]:
s.where(s%2==0,inplace=True)
s

0    0.0
1    NaN
2    2.0
3    NaN
4    4.0
5    NaN
6    6.0
7    NaN
8    8.0
9    NaN
dtype: float64

In [ ]:
s.dropna()

0    0.0
2    2.0
4    4.0
6    6.0
8    8.0
dtype: float64

In [ ]:
s.fillna('Filled value')

0             0.0
1    Filled value
2             2.0
3    Filled value
4             4.0
5    Filled value
6             6.0
7    Filled value
8             8.0
9    Filled value
dtype: object

In [ ]:
s.where(s%2==0,'Odd Number')

0             0
1    Odd Number
2             2
3    Odd Number
4             4
5    Odd Number
6             6
7    Odd Number
8             8
9    Odd Number
dtype: object

In [31]:
import pandas as pd
df = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [34]:
df =pd.read_csv('/content/rainfall.csv')
df

,ANDAMAN & NICOBAR ISLANDS,2015,126.80,7.60,3.10,138.20,331.90,346.40,328.90,480.00,523.30,252.10,236.30,129.90,2904.60,134.40,473.20,1678.60,618.40
0,ARUNACHAL PRADESH,1916,48.1,69.8,71.1,316.1,424.6,1124.9,NaN,629.7,333.9,NaN,NaN,NaN,NaN,117.9,811.8,NaN,NaN
1,ASSAM & MEGHALAYA,1901,27.1,19.5,30.6,223.0,207.0,524.9,430.6,464.1,291.4,163.7,115.6,1.2,2498.6,46.6,460.5,1710.9,280.5
2,NAGA MANI MIZO TRIPURA,1930,22.6,53.6,107.5,161.0,223.1,506.6,438.2,385.6,256.7,100.8,230.7,1.0,2487.4,76.3,491.6,1587.0,332.5
3,SUB HIMALAYAN WEST BENGAL & SIKKIM,1901,26.5,14.8,14.1,29.2,195.5,488.4,524.8,501.1,242.7,55.5,17.9,2.6,2113.2,41.3,238.9,1757.0,76.1
4,GANGETIC WEST BENGAL,1966,33.1,4.4,5.1,18.3,43.4,296.0,168.7,236.6,187.2,84.9,34.7,6.3,1118.7,37.5,66.8,888.5,125.9
5,ORISSA,1901,39.5,65.1,16.1,51.6,79.0,78.2,288.4,307.7,185.3,76.6,96.7,0.0,1284.2,104.6,146.7,859.6,173.3
6,JHARKHAND,1928,51.4,11.8,3.0,26.4,48.1,313.4,396.7,213.7,131.7,183.3,0.1,4.4,1384.0,63.2,77.4,1055.5,187.8
7,HARYANA DELHI & CHANDIGARH,1937,0.8,75.8,5.3,20.3,5.2,43.7,171.6,39.3,109.8,0.4,0.3,9.1,481.7,76.7,30.8,364.4,9.8
8,JAMMU & KASHMIR,1901,66.4,69.3,69.6,132.2,105.8,53.4,171.7,181.3,101.8,24.1,0.0,4.4,979.9,135.6,307.6,508.2,28.5
9,COASTAL KARNATAKA,2015,1.4,1.0,32.3,72.2,150.3,735.3,930.9,575.2,260.3,208.5,124.2,14.3,3106.0,2.4,254.8,2501.8,347.1
10,NORTH INTERIOR KARNATAKA,1901,3.5,18.8,7.1,67.2,65.5,120.5,151.9,115.1,128.8,80.0,13.6,0.9,773.0,22.3,139.8,516.4,94.5
11,SOUTH INTERIOR KARNATAKA,2015,1.7,0.2,24.4,80.5,125.3,218.7,112.0,136.6,164.5,106.1,138.1,4.4,1112.5,1.9,230.2,631.8,248.6
12,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,73.4,386.2,2122.8,666.1

In [35]:
df.head(2)

,ANDAMAN & NICOBAR ISLANDS,2015,126.80,7.60,3.10,138.20,331.90,346.40,328.90,480.00,523.30,252.10,236.30,129.90,2904.60,134.40,473.20,1678.60,618.40
0,ARUNACHAL PRADESH,1916,48.1,69.8,71.1,316.1,424.6,1124.9,NaN,629.7,333.9,NaN,NaN,NaN,NaN,117.9,811.8,NaN,NaN
1,ASSAM & MEGHALAYA,1901,27.1,19.5,30.6,223.0,207.0,524.9,430.6,464.1,291.4,163.7,115.6,1.2,2498.6,46.6,460.5,1710.9,280.5

In [36]:
df.tail(3)

,ANDAMAN & NICOBAR ISLANDS,2015,126.80,7.60,3.10,138.20,331.90,346.40,328.90,480.00,523.30,252.10,236.30,129.90,2904.60,134.40,473.20,1678.60,618.40
10,NORTH INTERIOR KARNATAKA,1901,3.5,18.8,7.1,67.2,65.5,120.5,151.9,115.1,128.8,80.0,13.6,0.9,773.0,22.3,139.8,516.4,94.5
11,SOUTH INTERIOR KARNATAKA,2015,1.7,0.2,24.4,80.5,125.3,218.7,112.0,136.6,164.5,106.1,138.1,4.4,1112.5,1.9,230.2,631.8,248.6
12,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,73.4,386.2,2122.8,666.1

In [38]:
df.values

array([['ARUNACHAL PRADESH', 1916, 48.1, 69.8, 71.1, 316.1, 424.6,
        1124.9, nan, 629.7, 333.9, nan, nan, nan, nan, 117.9, 811.8, nan,
        nan],
       ['ASSAM & MEGHALAYA', 1901, 27.1, 19.5, 30.6, 223.0, 207.0, 524.9,
        430.6, 464.1, 291.4, 163.7, 115.6, 1.2, 2498.6, 46.6, 460.5,
        1710.9, 280.5],
       ['NAGA MANI MIZO TRIPURA', 1930, 22.6, 53.6, 107.5, 161.0, 223.1,
        506.6, 438.2, 385.6, 256.7, 100.8, 230.7, 1.0, 2487.4, 76.3,
        491.6, 1587.0, 332.5],
       ['SUB HIMALAYAN WEST BENGAL & SIKKIM', 1901, 26.5, 14.8, 14.1,
        29.2, 195.5, 488.4, 524.8, 501.1, 242.7, 55.5, 17.9, 2.6, 2113.2,
        41.3, 238.9, 1757.0, 76.1],
       ['GANGETIC WEST BENGAL', 1966, 33.1, 4.4, 5.1, 18.3, 43.4, 296.0,
        168.7, 236.6, 187.2, 84.9, 34.7, 6.3, 1118.7, 37.5, 66.8, 888.5,
        125.9],
       ['ORISSA', 1901, 39.5, 65.1, 16.1, 51.6, 79.0, 78.2, 288.4, 307.7,
        185.3, 76.6, 96.7, 0.0, 1284.2, 104.6, 146.7, 859.6, 173.3],
       ['JHARKHAND', 1928, 51.4, 11.8, 3.0, 26.4, 48.1, 313.4, 396.7,
        213.7, 131.7, 183.3, 0.1, 4.4, 1384.0, 63.2, 77.4, 1055.5, 187.8],
       ['HARYANA DELHI & CHANDIGARH', 1937, 0.8, 75.8, 5.3, 20.3, 5.2,
        43.7, 171.6, 39.3, 109.8, 0.4, 0.3, 9.1, 481.7, 76.7, 30.8,
        364.4, 9.8],
       ['JAMMU & KASHMIR', 1901, 66.4, 69.3, 69.6, 132.2, 105.8, 53.4,
        171.7, 181.3, 101.8, 24.1, 0.0, 4.4, 979.9, 135.6, 307.6, 508.2,
        28.5],
       ['COASTAL KARNATAKA', 2015, 1.4, 1.0, 32.3, 72.2, 150.3, 735.3,
        930.9, 575.2, 260.3, 208.5, 124.2, 14.3, 3106.0, 2.4, 254.8,
        2501.8, 347.1],
       ['NORTH INTERIOR KARNATAKA', 1901, 3.5, 18.8, 7.1, 67.2, 65.5,
        120.5, 151.9, 115.1, 128.8, 80.0, 13.6, 0.9, 773.0, 22.3, 139.8,
        516.4, 94.5],
       ['SOUTH INTERIOR KARNATAKA', 2015, 1.7, 0.2, 24.4, 80.5, 125.3,
        218.7, 112.0, 136.6, 164.5, 106.1, 138.1, 4.4, 1112.5, 1.9,
        230.2, 631.8, 248.6],
       ['KERALA', 1901, 28.7, 44.7, 51.6, 160.0, 174.7, 824.6, 743.0,
        357.5, 197.7, 266.9, 350.8, 48.4, 3248.6, 73.4, 386.2, 2122.8,
        666.1]], dtype=object)

In [40]:
df.iloc[2]

ANDAMAN & NICOBAR ISLANDS    NAGA MANI MIZO TRIPURA
2015                                           1930
126.80                                         22.6
7.60                                           53.6
3.10                                          107.5
138.20                                        161.0
331.90                                        223.1
346.40                                        506.6
328.90                                        438.2
480.00                                        385.6
523.30                                        256.7
252.10                                        100.8
236.30                                        230.7
129.90                                          1.0
2904.60                                      2487.4
134.40                                         76.3
473.20                                        491.6
1678.60                                      1587.0
618.40                                        332.5
Name: 2, dtype: object

In [45]:
df = pd.read_csv('/content/rainfall.csv',chunksize=2)
for chunksize in df:
  print(chunksize)

  ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60  3.10  138.20  331.90  346.40  \
0         ARUNACHAL PRADESH  1916    48.1  69.8  71.1   316.1   424.6  1124.9
1         ASSAM & MEGHALAYA  1901    27.1  19.5  30.6   223.0   207.0   524.9

   328.90  480.00  523.30  252.10  236.30  129.90  2904.60  134.40  473.20  \
0     NaN   629.7   333.9     NaN     NaN     NaN      NaN   117.9   811.8
1   430.6   464.1   291.4   163.7   115.6     1.2   2498.6    46.6   460.5

   1678.60  618.40
0      NaN     NaN
1   1710.9   280.5
            ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60   3.10  138.20  \
2              NAGA MANI MIZO TRIPURA  1930    22.6  53.6  107.5   161.0
3  SUB HIMALAYAN WEST BENGAL & SIKKIM  1901    26.5  14.8   14.1    29.2

   331.90  346.40  328.90  480.00  523.30  252.10  236.30  129.90  2904.60  \
2   223.1   506.6   438.2   385.6   256.7   100.8   230.7     1.0   2487.4
3   195.5   488.4   524.8   501.1   242.7    55.5    17.9     2.6   2113.2

   134.40  473.20  1678.60  618.40
2    76.3   491.6   1587.0   332.5
3    41.3   238.9   1757.0    76.1
  ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60  3.10  138.20  331.90  346.40  \
4      GANGETIC WEST BENGAL  1966    33.1   4.4   5.1    18.3    43.4   296.0
5                    ORISSA  1901    39.5  65.1  16.1    51.6    79.0    78.2

   328.90  480.00  523.30  252.10  236.30  129.90  2904.60  134.40  473.20  \
4   168.7   236.6   187.2    84.9    34.7     6.3   1118.7    37.5    66.8
5   288.4   307.7   185.3    76.6    96.7     0.0   1284.2   104.6   146.7

   1678.60  618.40
4    888.5   125.9
5    859.6   173.3
    ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60  3.10  138.20  331.90  \
6                   JHARKHAND  1928    51.4  11.8   3.0    26.4    48.1
7  HARYANA DELHI & CHANDIGARH  1937     0.8  75.8   5.3    20.3     5.2

   346.40  328.90  480.00  523.30  252.10  236.30  129.90  2904.60  134.40  \
6   313.4   396.7   213.7   131.7   183.3     0.1     4.4   1384.0    63.2
7    43.7   171.6    39.3   109.8     0.4     0.3     9.1    481.7    76.7

   473.20  1678.60  618.40
6    77.4   1055.5   187.8
7    30.8    364.4     9.8
  ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60  3.10  138.20  331.90  346.40  \
8           JAMMU & KASHMIR  1901    66.4  69.3  69.6   132.2   105.8    53.4
9         COASTAL KARNATAKA  2015     1.4   1.0  32.3    72.2   150.3   735.3

   328.90  480.00  523.30  252.10  236.30  129.90  2904.60  134.40  473.20  \
8   171.7   181.3   101.8    24.1     0.0     4.4    979.9   135.6   307.6
9   930.9   575.2   260.3   208.5   124.2    14.3   3106.0     2.4   254.8

   1678.60  618.40
8    508.2    28.5
9   2501.8   347.1
   ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60  3.10  138.20  331.90  \
10  NORTH INTERIOR KARNATAKA  1901     3.5  18.8   7.1    67.2    65.5
11  SOUTH INTERIOR KARNATAKA  2015     1.7   0.2  24.4    80.5   125.3

    346.40  328.90  480.00  523.30  252.10  236.30  129.90  2904.60  134.40  \
10   120.5   151.9   115.1   128.8    80.0    13.6     0.9    773.0    22.3
11   218.7   112.0   136.6   164.5   106.1   138.1     4.4   1112.5     1.9

    473.20  1678.60  618.40
10   139.8    516.4    94.5
11   230.2    631.8   248.6
   ANDAMAN & NICOBAR ISLANDS  2015  126.80  7.60  3.10  138.20  331.90  \
12                    KERALA  1901    28.7  44.7  51.6   160.0   174.7

    346.40  328.90  480.00  523.30  252.10  236.30  129.90  2904.60  134.40  \
12   824.6   743.0   357.5   197.7   266.9   350.8    48.4   3248.6    73.4

    473.20  1678.60  618.40
12   386.2   2122.8   666.1

In [42]:
df.iloc[11]

ANDAMAN & NICOBAR ISLANDS    SOUTH INTERIOR KARNATAKA
2015                                             2015
126.80                                            1.7
7.60                                              0.2
3.10                                             24.4
138.20                                           80.5
331.90                                          125.3
346.40                                          218.7
328.90                                          112.0
480.00                                          136.6
523.30                                          164.5
252.10                                          106.1
236.30                                          138.1
129.90                                            4.4
2904.60                                        1112.5
134.40                                            1.9
473.20                                          230.2
1678.60                                         631.8
618.40                                          248.6
Name: 11, dtype: object